* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#draw {
  background-color: green;
  border-radius: 1em;
  color: white;
  padding: 5px 10px;
}

#reset {
  background-color: red;
  border-radius: 1em;
  color: white;
  padding: 5px 10px;
}
