* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: url("https://images.unsplash.com/photo-1532604146921-0e8bd9ab0891?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
}
.title {
  padding-bottom: 20px;
  color: rgb(220, 139, 33);
  -webkit-text-stroke: 1px black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#draw {
  background-color: rgb(244, 217, 130);
  border-radius: 1em;
  padding: 5px 10px;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 1em;
}

#draw:hover {
  color: white;
  background-color: rgb(234, 189, 40);
}

#reset {
  background-color: rgb(251, 99, 99);
  border-radius: 1em;
  padding: 5px 10px;
  font-size: 1em;
}
#reset:hover {
  color: white;
  background-color: rgb(247, 58, 58);
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(44, 33, 158);
  border-radius: 40px;
  padding: 50px 30px;
  background-color: rgba(240, 248, 255, 0.7);
  text-align: center;
}

.winner {
  font-size: large;
  color: rgb(220, 139, 33);
  padding-top: 20px;
  -webkit-text-stroke: 1px black;
}

textarea {
  border-radius: 30px;
  border: 2px solid rgb(220, 139, 33);
  padding: 10px 10px;
  resize: none;
}

textarea:focus {
  outline-color: rgb(220, 139, 33);
}

#winner {
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

span {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}
